

<div class="checkbox--dark">
  <div class="checkbox__wrapper">
    <input class="checkbox__input" id="choice" type="checkbox" name="choice" value="1"    />
    <label class="checkbox__label" for="choice">I agree with the Shipping and Billing terms and conditions conditions conditions conditions conditions conditions conditions conditions conditions conditions conditions</label>
  </div>
    <div class="checkbox__helper">Please note that this form field has a helper text</div>
  <!-- NOTE: This div is reserved for field-specific error messages by a backend -->
    <div class="checkbox__error">Please provide a value for this field</div>
</div>

