

  <div class="message--error " role="alert">
    <div class="message__container">
      <div class="message__icon-container">
        <span class="visually-hidden">Error message</span>
          <ul class="message__list">
            <li class="message__list-item">E-mail <a href="#">field</a> is required.</li>
            <li class="message__list-item">Message field is required.<br>New line</li>
          </ul>
        <span class="message__close-button" tabindex="0" role="button">
          <span class="visually-hidden">Close</span>
        </span>
      </div>
    </div>
  </div>

