

<div class="radio--light">
  <div class="radio__wrapper">
    <input class="radio__input" id="choice" type="radio" name="choice" value="1"    />
    <label class="radio__label" for="choice">Some long long condition condition condition condition condition condition condition condition condition condition condition condition condition condition condition condition</label>
  </div>
    <div class="radio__helper">Please note that this form field has a helper text</div>
  <!-- NOTE: This div is reserved for field-specific error messages by a backend -->
    <div class="radio__error">Please provide a value for this field</div>
</div>

