

<div class="select--light">
  <div class="select__wrapper">
    <select class="select__select" id="select" name="select" >
      <option value="" disabled selected>Please choose</option>
      <option value="Long long option Long long option Long long option Long long option Long long option Long long option Long long option Long long option">Long long option Long long option Long long option Long long option Long long option Long long option Long long option Long long option</option>
      <option value="option 2">option 2</option>
      <option value="option 3">option 3</option>
      <option value="option 4">option 4</option>
      <option value="option 5">option 5</option>
      <option value="option 6">option 6</option>
      <option value="option 7">option 7</option>
      <option value="option 8">option 8</option>
      <option value="option 9">option 9</option>
      <option value="option 10">option 10</option>
      <option value="option 11">option 11</option>
      <option value="option 12">option 12</option>
      <option value="option 13">option 13</option>
      <option value="option 14">option 14</option>
      <option value="option 15">option 15</option>
    </select>
      <label class="select__label" for="select">Text</label>
  </div>
    <div class="select__helper">Please note that this form field has a helper text</div>
  <!-- NOTE: This div is reserved for field-specific error messages by a backend -->
    <div class="select__error">Please provide a value for this field</div>
</div>

