@import "base";

/*******************************************************************************
 * Contextual classes:
 * - is-disabled: When input is disabled
 ******************************************************************************/
// color settings
$checkboxColor: $black;
$checkboxIconColor: $checkboxColor;
$checkboxIconBorderColor: #9b9b9b;
$checkboxLinkColor: $checkboxColor;
$checkboxLinkColorHover: $dark-sand;
$checkboxErrorColor: $red;

// font settings
$checkboxFontSize: 1.125rem;
$checkboxLineHeight: 1.2;
$checkboxIconFontSize: 0.75rem;
$checkboxFontFamily: inherit;

// NOTE: The select field currently has no color variants. But for consistency
// with the text field element, it's necessary to also support these color
// variant modifiers. Because of &.is-open statements its the same effort to
// workaround this like to generate explicit color variants -- I've chosen the
// latter as it's future proof
// Need to use string here due to:
// https://github.com/webpack-contrib/sass-loader/issues/487
$variants: "black", "white";
@each $color in $variants {
  /*****************************************************************************
   * General
   ****************************************************************************/
  .checkbox {
    $block: &;

    &--#{unquote($color)} {
      &, * {
        user-select: none;
      }

      &.is-disabled {
        &, * {
          cursor: not-allowed !important;
        }
      }

      #{$block}__wrapper {
        position: relative;
        width: 100%;
      }

      /*************************************************************************
       * Hide native checkbox
       ************************************************************************/
      #{$block}__input {
        @include visually-hidden;
      }

      /*************************************************************************
       * Label
       ************************************************************************/
      #{$block}__label {
        $padding: 2px;
        $border: 1px;
        position: relative;
        line-height: $checkboxLineHeight;
        color: $checkboxColor;
        font-size: $checkboxFontSize;
        font-family: $checkboxFontFamily;
        padding: 0 0 0 calc(#{$checkboxIconFontSize} + #{$padding * 2} + #{$border * 2} + 10px);
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;
        display: block; // use padding for a second line too
        @include form-components-icons-before("checkmark");

        // after contains the squash, before the checkmark.
        // this is necessary due to animation purposes
        &:after,
        &:before {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          padding: $padding;
        }
        &:after {
          width: #{$checkboxIconFontSize};
          height: #{$checkboxIconFontSize};
          border: $border solid $checkboxIconBorderColor;
          content: "";
          display: inline-block;
          z-index: 1;
        }
        &:before {
          font-size: $checkboxIconFontSize;
          line-height: $checkboxIconFontSize;
          color: $checkboxIconColor;
          border: $border solid transparent;
          margin-top: 1px; // optical icon alignment
          z-index: 2;
          transform-origin: center center;
          transform: translateY(-50%) scale(0);
          transition: transform 0.1s ease-in-out
        }

        a {
          @include link-underline-medium($checkboxLinkColor, $checkboxLinkColorHover);
        }
      }
      #{$block}__input:checked + #{$block}__label:before {
        transform: translateY(-50%) scale(1);
      }

      /*************************************************************************
       * Error message
       ************************************************************************/
      #{$block}__error {
        color: $checkboxErrorColor;
        margin: 5px 0;

        a {
          color: $checkboxErrorColor;
        }
      }
    }
  }
}
