@font-face {
  font-family: "form-components-icons";
  src: url("../../fonts/form-components-icons/form-components-icons.woff?6f6d2b1f31209bfbfadcc0d5ba304d9d") format("woff");
  font-weight: normal;
  font-style: normal;
}
