@font-face {
  font-family: "drupal-message-icons";
  src: url("../../fonts/icons/drupal-message-icons.woff?e9fe3520e32d6f692d74e728b289a297") format("woff");
  font-weight: normal;
  font-style: normal;
}
