@font-face {
  font-family: "form-components-icons";
  src: url("../../fonts/form-components-icons/form-components-icons.woff?1d57019fd21e7394f316652828feca1e") format("woff");
  font-weight: normal;
  font-style: normal;
}
