@import "variables";

// full width sections
@mixin container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 $container-padding-x;
  max-width: $container-max-width + ($container-padding-x * 2);
  margin: 0 auto;
}

// adds common transition function and backface-visibility
@mixin transition($transitions...) {
  $result: ();
  @each $transition in $transitions {
    $result: append($result, unquote($transition) unquote($animation-function), comma);
  }
  backface-visibility: hidden;
  transition: $result;
}

// animated link underline on hover
@mixin link-underline($color, $hoverColor) {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $color;
  @include transition("color .3s");

  &:after {
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 1px;
    background: $hoverColor;
    content: "";
    display: block;
    transition: all .25s ease-in-out;
  }

  &:hover {
    color: $hoverColor;

    &:after {
      transform: scaleX(0);
    }
  }
}

// animated link underline on hover
@mixin link-underline-medium($color, $hoverColor) {
  @include link-underline($color, $hoverColor);

  &:after {
    bottom: -2px;
  }
}

// animated link underline on hover
@mixin link-underline-small($color, $hoverColor) {
  @include link-underline($color, $hoverColor);

  &:after {
    bottom: 0;
  }
}

// visually hidden
@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// common form styles
@mixin form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;

  > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
