// Common colors
$black: #000;
$white: #fff;
$red: #d31a00;
$red-light: rgba($red, 0.3);
$clouds: #ecf0f1;

// Container sizing settings
$container-max-width: 1350px;
$container-padding-x: 25px;

// Animation function
// http://easings.net/de#easeOutQuart
$animation-function: cubic-bezier(0.165, 0.84, 0.44, 1);
