// This file is only used for development purposes and won't be integrated into
// other components in any way.
@import url('https://fonts.googleapis.com/css?family=Lato');

html,
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;

  &.is-dark {
    background-color: #333333;
  }
}

body {
  min-height: calc(100vh - 40px);
  padding: 15px;

  // transitions only after page load
  &:not(.transition-ready) {
    &,
    * {
      transition: none !important;
    }
  }
}

* {
  // for different Android versions
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
