

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <!-- Common meta tags -->
  <meta charset="utf-8">
  <title>Form Components v1.0.3</title>

  <!-- Mobile viewport meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="MobileOptimized" content="width"/>
  <meta name="HandheldFriendly" content="true"/>

  <!-- Other meta tags -->
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="cleartype" content="on">

  <!-- Development styles -->
  <link rel="stylesheet" type="text/css" href="../../development/development.css">
    <link rel="stylesheet" type="text/css" href="../../checkbox-material-like/checkbox-material-like.css">
    <link rel="stylesheet" type="text/css" href="../../checkbox-material-like/checkbox-material-like.min.css">

</head>
<body class="is-dark">

  <main>
    <div class="checkbox--dark">
  <div class="checkbox__wrapper">
    <input class="checkbox__input" id="choice" type="checkbox" name="choice" value="1"    />
    <label class="checkbox__label" for="choice">I agree with the Shipping and Billing terms and conditions conditions conditions conditions conditions conditions conditions conditions conditions conditions conditions</label>
  </div>
    <div class="checkbox__helper">Please note that this form field has a helper text</div>
  <!-- NOTE: This div is reserved for field-specific error messages by a backend -->
    <!--<div class="checkbox__error">Put in the error message here...</div>-->
</div>

  </main>

  <!-- Bundled scripts for development -->
  <script src="../../development/development.js"></script>
</body>
</html>

