

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <!-- Common meta tags -->
  <meta charset="utf-8">
  <title>Form Components v0.14.0</title>

  <!-- Mobile viewport meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="MobileOptimized" content="width"/>
  <meta name="HandheldFriendly" content="true"/>

  <!-- Other meta tags -->
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="cleartype" content="on">

  <!-- Development styles -->
  <link rel="stylesheet" type="text/css" href="../../development/development.css">
    <link rel="stylesheet" type="text/css" href="../../message-material-like/message-material-like.css">
    <link rel="stylesheet" type="text/css" href="../../message-material-like/message-material-like.min.css">

</head>
<body>

  <main>
      <div class="message--error " role="alert">
    <div class="message__container">
      <div class="message__icon-container">
        <span class="visually-hidden">Error message</span>
          <ul class="message__list">
            <li class="message__list-item">E-mail <a href="#">field</a> is required.</li>
            <li class="message__list-item">Message field is required.<br>New line</li>
          </ul>
        <span class="message__close-button" tabindex="0" role="button">
          <span class="visually-hidden">Close</span>
        </span>
      </div>
    </div>
  </div>

  </main>

  <!-- Bundled scripts for development -->
  <script src="../../development/development.js"></script>
</body>
</html>

