

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <!-- Common meta tags -->
  <meta charset="utf-8">
  <title>Form Components v1.0.2</title>

  <!-- Mobile viewport meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="MobileOptimized" content="width"/>
  <meta name="HandheldFriendly" content="true"/>

  <!-- Other meta tags -->
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="cleartype" content="on">

  <!-- Development styles -->
  <link rel="stylesheet" type="text/css" href="../../development/development.css">
    <link rel="stylesheet" type="text/css" href="../../radio-material-like/radio-material-like.css">
    <link rel="stylesheet" type="text/css" href="../../radio-material-like/radio-material-like.min.css">

</head>
<body class="is-dark">

  <main>
    <div class="radio--dark">
  <div class="radio__wrapper">
    <input class="radio__input" id="choice" type="radio" name="choice" value="1"    />
    <label class="radio__label" for="choice">Some long long condition condition condition condition condition condition condition condition condition condition condition condition condition condition condition condition</label>
  </div>
  <!-- NOTE: This div is reserved for field-specific error messages by a backend -->
    <div class="radio__error">Please provide a value for this field</div>
</div>

  </main>

  <!-- Bundled scripts for development -->
  <script src="../../development/development.js"></script>
</body>
</html>

